@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-color: hsl(218, 23%, 16%);
}

.card{
    background-color: hsl(217, 19%, 24%);
}
.text{
    color: hsl(193, 38%, 86%);
}

.word-spacing {
    letter-spacing: 5px;
  }

  /* styles.css or similar */
.spin {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  
  .spin-active {
    transform: rotate(360deg);
  }
  